<nav class="navbar position-static">
  <div class="container-fluid">
    <a class="navbar-brand d-flex justify-content-center align-items-center" routerLink="/home">
      <img src="./../../../assets/icon.png" alt="Logo" class="d-inline-block align-text-top">
      <span class="ms-2 text-white">Inicio</span>
    </a>

    <ng-container *ngIf="showButtons">
      <div *ngIf="usuario" class="dropdown-center  ">
        <button class="btn dropdown-toggle text-light" type="button" data-bs-toggle="dropdown"
          aria-expanded="false ">
          {{usuario.email}}
        </button>
        <ul class="dropdown-menu w-100">
          <li><a class="dropdown-item" routerLink="/quien-soy">Acerca de mí</a></li>
          <li class="p-2">
            <button class="btn text-light w-100 bg-danger" (click)="loguot()">Cerrar Sesión</button>
          </li>
        </ul>
      </div>
  
      <div *ngIf="!usuario">
        <a routerLink="/login">
          <button class="btn text-light btn-login">Iniciar Sesión</button>
        </a>
        <a routerLink="/register">
          <button class="btn btn-primary ms-2 btn-register">Registrarme</button>
        </a>
      </div>
    </ng-container>

  </div>
</nav>
