<div class="contenedor bg-color-secondary d-flex justify-content-center">
  <div class="reset-container position-absolute start-0 ps-2 pt-2 ps-md-5 pt-md-5">
    <button class="btn" (click)="playGame.emit(false)">
      <i class="fa-solid fa-arrow-left fs-1"></i>
    </button>
  </div>

  <div class=" d-flex flex-column justify-content-center">
    <div class="row container-card  bg-color-primary rounded p-4 justify-content-center align-items-center">

      <div class="col-12 text-light text-center fw-bold fs-2">
        PUNTAJE : {{points}}
        <div class=" d-flex justify-content-center w-100 my-4">

          <div #card class="card d-flex justify-content-center align-items-center p-3 bg-color-primary flip">
            <div class="front face">
              <img class="img-card" src="../../../assets/mayoromenor/back-card.png">
            </div>
            <div class="back face d-flex justify-content-center align-items-center">
              <b class="position-absolute top-0 start-0 ps-4 pt-2 fs-2">{{currentNumber}}</b>
              <img class="img-card" src="../../../assets/mayoromenor/front-card.png">
              <img class="img-icon position-absolute" src="../../../assets/icon.png">
              <b class="position-absolute bottom-0 end-0 ps-4 pt-2 fs-2 bottom-number">{{currentNumber}}</b>
            </div>
          </div>

        </div>
      </div>
      <div class="col-12 col-sm-6">
        <button class="btn btn-lg btn-success w-100 fw-bold {{disableBtns ? 'disabled' : null}}" (click)="play(1)">MAYOR</button>
      </div>
      <div class="col-12 col-sm-6 mt-2 mt-sm-0">
        <button class="btn btn-lg btn-danger w-100 fw-bold {{disableBtns ? 'disabled' : null}}" (click)="play(-1)">MENOR</button>
      </div>
    </div>
  </div>

  <app-modal-custom [showModal]="showModal">
    <h2 class="mb-4">¡PERDISTE!</h2>
    <span class="text-center mb-3">Puntuacion total : <b>{{points}}</b></span>
    <button class="btn btn-danger" (click)="resetGame()">Reintentar</button>
  </app-modal-custom>
</div>

