<div class="div-page vh-100">
  <nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand d-flex justify-content-center align-items-center" href="#">
        <img src="./../../../assets/icon.png" alt="Logo" width="60" height="60" class="d-inline-block align-text-top">
        <span class="ms-2 text-white">Inicio</span>
      </a>
      <button  class="btn btn-primary" (click)="loguot()">Loguot</button>
    </div>
  </nav>
  <div class="container-fluid text-center p-5">
    <h1>JUEGOS</h1>
    <div class="col-12">

    </div>

  </div>

</div>