<div class="vh-100">
  <app-navbar [showButtons]="true" (userEvent)="usuario = $event" (loadingEvent)="loading = $event"></app-navbar>
  <div class="container-fuid text-center p-3 content-container ">
    <div class="row row-title">
      <div class="col-12">
        <h1>JUEGOS</h1>
      </div>
    </div>
    <div class="row row-btns gap-4 justify-content-center">
      <div class="col-12 col-sm-5 col-game">
        <button routerLink="/ahorcado" class="btn-game btn fs-2 fw-bold">AHORCADO
        </button>
        <!-- <img class="img-game img-ahorcado" src="../../../assets/games/ahorcado.png" alt=""> -->
      </div>
      <div class="col-12 col-sm-5 col-game">
        <button routerLink="/mayoromenor" class="btn-game btn fs-2 fw-bold">MAYOR O MENOR
        </button>
        <!-- <img class="img-game img-highorlow" src="../../../assets/games/masomenos.png" alt=""> -->
      </div>
      <div class="col-12 col-sm-5 col-game">
        <button routerLink="/preguntados" class="btn-game btn fs-2 fw-bold">PREGUNTADOS
        </button>
        <!-- <img class="img-game img asked" src="../../../assets/games/preguntados.png" alt=""> -->
      </div>
      <div class="col-12 col-sm-5 col-game">
        <button routerLink="/mygame" class="btn-game btn fs-2 fw-bold">MI JUEGO
        </button>
        <!-- <img class="img-game img-mygame" src="../../../assets/games/.png" alt=""> -->
      </div>
    </div>

  </div>
</div>

<app-chat [user]="usuario"></app-chat>
<app-spinner [showSpinner]="loading"></app-spinner>